@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.mainFxmlClass {
-fx-background-color : #F4F4F4;
-fx-font-family: 'Lato', sans-serif;
}

.VBox{
   -fx-background-color : #ffffff;
    -fx-effect: dropshadow(gaussian,rgba(194, 213, 231, 0.7) , 20,0 , 0, 0);
    -fx-background-radius: 15px;
}

.navBarItems{
    -fx-background-color : #ffffff;

}
.vboxProperties{
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #E5E5E5;
    
    
    
}
.pane{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.05) , 20,0 , 0, 0);
    -fx-background-radius: 15px;
}
.imageView{
     -fx-fit-width: 20px;
   -fx-fit-height: 20px;
}

.roundedButton{
    -fx-background-radius: 15px;
}

.profileButton {
    -fx-background-color : #F4F4F4;
}
.transparent{
    -fx-background-color :rgba(0,0,0,0);

}
.searchBox{
    -fx-background-color : #F9f9f9;
    -fx-background-radius: 11.2px;


}
.searchBar{
    -fx-background-color : #ffffff;
    -fx-border-color:#CFCDCD;
    -fx-border-radius:5.6383px;


}
.pagination{}

.pagination .pagination-control .button, .pagination .toggle-button {
    -fx-background-color: -fx-paginator-button;
    -fx-border-color:  transparent;
    -fx-pref-width: 15;
    -fx-pref-height: 15;
}
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: #FFF3E1;
}

.chienCard{
    -fx-background-color : #ffffff;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0, 0.15) , 10,0 , 0, 0);
    -fx-background-radius: 10.7042px;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #E0642C;
    -fx-background-radius: 1em;

}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-background-color: transparent;

}
.scroll-pane .corner{
        -fx-background-color: transparent;

}

