/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-background-color: white; 
-fx-border-radius:20px; 
-fx-background-radius:20px; 

-fx-effect: dropshadow(gaussian,rgba(0,0,0, 0.05) , 20,0 , 0, 0);

}

.inputField{
           
  -fx-border-color:#E5E5E5;
  -fx-border-width: 1px;
  
  -fx-border-insets: 1px;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;

   
}

.bookButton{
    -fx-background-color : #E0642C;
    -fx-border-color:#E0642C ;
    -fx-border-radius:5px;  
    -fx-background-radius:5px;  

}